<% @payees.each do |payee| %>
  <a href="/payees/<%= payee.id %>">
  <object class="favicon" data="<%= Helper.get_favicon( payee.website ) %>">
      <img class="favicon" src="/favicon.ico" />
  </object>
  <%= payee.name %></a><br><br>
<% end %>


