<h1>new payee</h1>

<form action="/payees" method="post">

  <label for="name">name</label>
    <input type="text" name="name" id="name">

  <label for="website">website</label>
    <input type="text" name="website" id="website">

  <input type="submit" value="add">
</form>