<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>Money Cashboard</title>
  <nav>
    <ul>
      <li><a href="/tags">tags</a> </li>
      <li><a href="/payees">payees</a> </li>
      <li><a href="/transactions">transactions</a> </li>
      <div><li><a href="/tags/new">new tag</a> </li></div>
      <li><a href="/payees/new">new payee</a> </li>
      <li><a href="/transactions/new">new transaction</a> </li>
    </ul>
  </nav>
</head>
<body>
  <%= yield  %>
</body>
</html>