* {
  font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";
}

body {
    font-weight: lighter;
    background-color: rgb(223, 234, 244);

}

table {
  width: 30%;
  background-color: #DFE2F5;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  border: 1px solid black;
  text-align: left;
  padding-left: 15px;

}

tr {
  text-align: center;
}

p {
  z-index: 1;
  position: relative;
}

nav li {
  display: inline-block;
  margin: 15px;
  color: #D0CEBA;
}

nav a {
  text-decoration: none;
  font-size: 110%;
  font-weight: 500;

}

a {
  text-decoration: none;

}

nav a:visited { 
    color: #D0CEBA;
}

.tag_div {
  /*width: 300px;*/
  width: 25%;
  display: inline-block;
  height: 200px;
  /*z-index: -1;*/
  position: relative;
  margin: 5px;

}

.p_div {
  display: inline-block;
  width:75%;
}

.bar_div {
  float: right;
  width: 24%;
  height: 180px;
  display: inline-block;
  background-color: lightgreen;
  z-index: 0;
  animation-name: grow;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  position: absolute;
  bottom: 0;
  right: 0;

}

.tag_div:hover {
  opacity: 0.50;
  border-style: 1px solid black;

}

label {
  margin: 10px;
}

input[type=checkbox] {
    float: left;
   
}

input[type=submit] {
  background-color: lightblue;
  border: none;
  color: navy;
  font-size: 120%;
  margin: 15px;
}

nav {
  background-color: #3D405B; 

}

p{
  padding: 5px;
}

ul div {
  display: inline-block;
}

.delete_submit {
  background-color: red;
}


@keyframes grow {0% {height: 0px;}}
