* {
  font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";
}

body {
   /* font-weight: lighter;*/
    background-color: rgb(223, 234, 244);

}

table {
  width: 30%;
  background-color: #DFE2F5;
  border: 1px solid black;
  padding: 5px;

}

.table_index {
  font-size: 110%;
  width: 50%;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px;
  
}

.favicon{
  width: 30px;
  height: 30px;
}

.table_index th {
  
  padding-left: 15px;

}

.table_index td { 
  margin: 2px;
  padding: 5px;
  text-align: left;
}

.table_index tr { 
  text-align: left;
  border: 1px solid black;
}

th {
  border: 1px solid black;
  text-align: left;
  padding-left: 15px;

}

tr {
  text-align: center;
}

p {
  z-index: 1;
  position: relative;
}

nav li {
  display: inline-block;
  margin: 15px;
  color: #D0CEBA;
}

nav a {
  text-decoration: none;
  font-size: 110%;
  font-weight: 500;

}

a, a:visited{
     color: blue;
}
a {
  text-decoration: none;

}

nav a:visited, nav a { 
    color: #D0CEBA;
}



.p_div {
  display: inline-block;
  width:75%;
}

.bar_div {
  float: right;
  width: 24%;
  height: 200px;
  display: inline-block;
  background-color: lightgreen;
  z-index: 0;
  animation-name: grow;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
 
}

.percent_text {
  font-size: 80%; 
}

.tag_div {
  width: 15%;
  display: inline-block;
  height: 70px;
  padding: 5px;
  /*position: relative;*/
  margin: 5px;
  /*line-height: 50px;*/
  text-align: center

}

.tag_div:hover {
  opacity: 0.50;
  border-style: 1px solid black;
}

.tag_div_show {

  width: 15%;
  display: inline-block;
  height: 50px;
  /*position: relative;*/
  margin: 5px;
  line-height: 50px;
  text-align: center
}

.tag_div_show:hover{
  opacity: 1;

}



.budget_div {
  width: 25%;
  display: inline-block;
  height: 200px;
  position: relative;
  margin: 5px;
  background-color: lightblue;
}

.budget_div:hover {
  opacity: 0.5;
}

label {
  margin: 10px;
}

input[type=checkbox] {
    float: left;
   
}

input[type=submit] {
  background-color: lightblue;
  border: none;
  color: navy;
  font-size: 120%;
  margin: 15px;
}

nav {
  background-color: #3D405B; 

}

p{
  padding: 5px;
}

ul div {
  display: inline-block;
}

.delete_submit {
  background-color: red;
}


@keyframes grow {0% {height: 0px;}}

