<% @tags.each do |tag| %>
  <a class ="tag_a" href="/tags/<%= tag.id %>">
    <div class ="tag_div" style="background-color: <%= tag.color %>;">
    
      
        <%= tag.name %> 
        <p>£ <%= tag.spent %></p>
    
    
     
    </div>
  </a>
<% end %>