<% @tags.each do |tag| %>
  <div style="background-color: <%= tag.color %>; width: 20%">
    <p><%= tag.name %></p>
    <p><%= tag.description %></p>
    <p>£ <%= tag.budget_2f_s %></p>
  </div>
<% end %>