<h1>new tag</h1>
<head>
<link rel="stylesheet" type="text/css" href="/css/tags.css">
</head>
<form action="/tags" method="post">

  <label for="name">name</label>
    <input type="text" name="name" id="name">

  <label for="color">color</label>
    <input type="text" name="color" id="color">

  <label for="description">description</label>
    <input type="text" name="description" id="description">

  <label for="budget">budget</label>
    <input type="number" name="budget" id="budget">


  <input type="submit" value="add">
</form>