
<form action="/tags" method="post">

  <label for="name">name</label>
    <input type="text" name="name" id="name">

  <label for="color">color</label>
    <input type="text" name="color" id="color">


  <input type="submit" value="add">
</form>