<%= @transaction.payee.name %> £<%= @transaction.amount_2f_s %>
<% @transaction.tags.each do |tag| %>
  <%= tag.name %>
<% end %>

<form action="/transactions/<%= @transaction.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>