<form action="/budgets" method="post">

  <label for="name">name</label>
    <input type="text" name="name" id="name">

  <label for="amount">amount</label>
    <input type="number" name="amount" id="amount">


  <input type="submit" value="add">
</form>